<p style="color: green"><%= notice %></p>

<h1>Listings</h1>
<%= link_to "Create New listing", new_listing_path %>

<div id="listings" style="display:flex;justify-content:space-evenly;">
  <% @listings.each do |listing| %>
    <%= render listing %>
  <% end %>
</div>


